{% assign index_page = 'index.html' %}
{% assign collections = site.data.navigation-list.navigation_list %}
{% assign collections_size = collections | size %}
{% for collection in collections %}
    {% if page.collection == collection.id %}
        {% assign collection_index = forloop.index %}
        {% assign i = forloop.index | minus: 1 %}
        {% assign collection_links_size = collection.links | size %}
        {% for link in collection.links %}
            {% assign k = forloop.index | minus: 1 %}
            {% assign current_link_full_relative_path = '_' | append: collection.id | append: '/' | append: link.link %}
            {% assign current_link_full_relative_path = current_link_full_relative_path | replace: '.html', '.md' %}
            {% if page.path == current_link_full_relative_path %}
                {% comment %}
                If first page in the collection and is the first collection then previous is the home page. If it is the first page in the collection and it is not in the first collection, then previous page is the last page of the previous collection.
                {% endcomment %}
                <div class="row">
                    {% assign collection_id = collections[i].id %}

                    {% assign prev_link = page.root | append: '/' %}
                    {% assign prev_title = "Home" %}
                    {% if forloop.index == 1 %}
                        {% unless i == 0 %}
                            {% assign prev_collection_index = i | minus: 1 %}
                            {% assign prev_collection = collections[prev_collection_index] %}
                            {% assign prev_collection_last_item_index = prev_collection.links | size  | minus: 1 %}
                            {% assign prev_collection_last_item = prev_collection.links[prev_collection_last_item_index] %}
                            {% assign prev_link = prev_link | append: collections[prev_collection_index].id | append: '/' | append: prev_collection_last_item.link%}
                            {% assign prev_title =  prev_collection.title | append: ' - ' | append: prev_collection_last_item.title %}
                        {% endunless %}
                        {% comment %} Not the first item in the collection, so previous page is the page before it in the list. {% endcomment %}
                    {% else %}
                        {% assign prev_item_index = k | minus: 1 %}
                        {% assign prev_link = prev_link | append: collection_id | append: '/' | append: collections[i].links[prev_item_index].link %}
                        {% assign prev_title = collections[i].links[prev_item_index].title %}
                    {% endif %}

                    {% assign prev_link_icon_class = "glyphicon glyphicon-menu-left" %}
                    {% if prev_title == "Home" %}
                        {% assign prev_link = next_link | append: index_page %}
                        {% assign prev_link_icon_class = "glyphicon glyphicon-menu-up" %}
                    {% endif %}


                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-1"> 
                                <h3 class="text-left">
                                    <a href="{{ prev_link }}"><span class="{{ prev_link_icon_class }}" aria-hidden="true"></span><span class="sr-only">previous episode</span></a>
                                   
                                </h3>
                            </div>
                            <div class="col-xs-11">
                                <h3 class="text-left">
                                    <a href="{{ prev_link }}">{{ prev_title }}</a>
                                </h3>

                            </div>

                        </div>
                    </div>

                    <div class="col-xs-4">
                        <h3 class="maintitle"><a href="{{ page.root }}/{{ index_page }}">{{ site.title }}</a></h3>
                    </div>

                    {% comment %}
                    If last page in the collection and is in the last collection, then next page is the home page. If last page in the collection and it is not in the last collection, then the next page is the first page of the next collection.
                    {% endcomment %}
                    {% assign next_link = page.root | append: '/' %}
                    {% assign next_title = "Home" %}
                    {% if forloop.index == collection_links_size %}
                        {% unless collection_index == collections_size %}
                            {% assign next_collection_index = i | plus: 1 %}
                            {% assign next_collection = collections[next_collection_index] %}
                            {% assign next_collection_id = next_collection.id %}
                            {% assign next_page =  next_collection.links[0] %}
                            {% assign next_link = next_link | append: next_collection_id | append: '/' | append: next_page.link %}
                            {% assign next_title = next_collection.title | append: ' - ' | append: next_page.title %}
                        {% endunless %}
                        {%comment %} Not the last item in the collection, so next page is the page after it in the list. {% endcomment %}
                    {% else %}
                        {% assign next_item_index = k | plus: 1 %}
                        {% assign next_page_link = collections[i].links[next_item_index] %}
                        {% assign next_link = next_link | append: collection_id | append: '/' | append: next_page_link.link %}
                        {% assign next_title = next_page_link.title %}
                    {% endif %}
                    {% assign next_link_icon_class = "glyphicon glyphicon-menu-right" %}
                    {% if next_title == "Home" %}
                        {% assign next_link = next_link | append: index_page %}
                        {% assign next_link_icon_class = "glyphicon glyphicon-menu-up" %}
                    {% endif %}

                    <div class="col-xs-4">
                        <div class="row">
                            <div class="col-xs-11">
                                <h3 class="text-right">
                                    <a href="{{ next_link }}">{{ next_title }}</a>
                                </h3>
                            </div>
                            <div class="col-xs-1">
                                <h3 class="text-right">
                                    <a href="{{ next_link }}"><span class="{{ next_link_icon_class }}" aria-hidden="true"></span><span class="sr-only">next episode</span></a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
    {% endif %}
{% endfor %}
