<ol>
    <li><a href="/meta/google.html">Google is not (necessarily) your friend</a></li>
    <li><a href="/meta/study_skills.html">Study Skills for programmers</a></li>
    <li><a href="/meta/code_style.html">Code Style</a></li>
    <li><a href="/meta/cognition_of_coding.html">Cognition of Coding</a></li>
</ol>
<details id="hacking" {% if page.within == "hacking" %}open{% endif %}><summary><a href="/hacking/index.html">Research Skills</a></summary>
        <ol>
            <li><a href="/hacking/setup.html">Mini-Console (Pi)</a></li>
            <li><a href="/hacking/setup_dev.html">Mini-Console (PC)</a></li>
            <li><a href="/hacking/terminal.html">Terminal Basics</a></li>
            <li><a href="/hacking/getting_code.html">Getting Code with Git</a></li>
            <li><a href="/hacking/changing_code.html">Changing Code</a></li>
            <li><a href="/hacking/incorporating_code.html">Getting Your Work Incorporated</a></li>
            <li><a href="/hacking/hacking_code.html">Hacking On Complex Code</a></li>
        </ol>
    </details>