{%- assign page_paths = site.data.samplelist.nav -%}

<!--- based on https://blog.hubspot.com/website/css-sidebar --->
<style>
.sidebar {
  width: 25%;
  position: absolute;
  margin: 0;
  overflow-x: hidden;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.wrapper {
  margin-left: 25%;
}
</style>

<ul>
{%- for item in page_paths -%}
    {% if item.subnav %}
      <li>
        <a>{{ item.title }} ▼</a>
        <ul>
        {%- for page2 in item.subnav -%}
          <li><a href="{{ page2.url }}">{{ page2.title }}</a></li>
        {%- endfor -%}
      </ul>
    </li>
    {% else %}
      <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {%- endif -%}
{%- endfor -%}
</ul>
