<details id="programming" {% if page.within == "programming" %}open{% endif %}><summary>Programming</summary><ol>
        <li><a href="/programming/transition_to_processing.html">Transition to Processing</a></li>
        <li><a href="/programming/primitive_operations.html">Primitive Operations</a></li>
        <li><a href="/programming/algorithms.html">Algorithms</a></li>
        <li><a href="/programming/variables.html">Variables</a></li>
        <li><a href="/programming/debugging_processing.html">Debugging in Processing</a></li>
        <li><a href="/programming/conditions.html">Conditions</a></li>
        <li><a href="/programming/loops.html">Loops</a></li>
        <li><a href="/programming/functions.html">Functions</a></li>
        <li><a href="/programming/scope.html">Scope</a></li>
        <li><a href="/programming/composite_data.html">Compound Data</a></li>
        <li><a href="/programming/reference_semantics.html">Reference Semantics</a></li>
        <li><a href="/programming/refactoring.html">Refactoring</a></li>
        <li><a href="/programming/design.html">Program Design</a></li>
        <li><a href="/programming/transition_to_java.html">Transition to Java</a></li>
        <li><a href="/programming/debugging.html">Debugging in Java</a></li>
        <li><a href="/programming/unit_testing.html">Unit Testing</a></li>
        <li><a href="/programming/classes_types.html">Classes - Writing your own Types</a></li>
        <li><a href="/programming/classes_copies.html">Classes - Copying objects</a></li>
        <li><a href="/programming/classes_methods.html">Classes - Functions inside objects</a></li>
        <li><a href="/programming/classes_composition.html">Classes - Composition</a></li>
        <li><a href="/programming/classes_array_of_objects.html">Classes - Array of objects</a></li>
        <li><a href="/programming/classes_class_holding_array.html">Classes - Class holding array(s)</a></li>
        <li><a href="/programming/recursion_function_call.html">Recursion - What goes on during a function call</a></li>
        <li><a href="/programming/recursion.html">Recursion</a></li>
        <li><a href="/programming/recursion-strings.html">Recursion with String data</a></li>
        <li><a href="/programming/recursion-tail.html">Tail-optimized recursion</a></li>
        <li><a href="/programming/recursion-arrays.html">Recursion with arrays</a></li>
        <li><a href="/programming/lists.html">Lists</a></li>
        <li><a href="/programming/iteration.html">Iteration</a></li>
        <li><a href="/programming/listOfLists.html">List of Lists</a></li>
        <li><a href="/programming/custom-built-arraylist.html">Custom-built ArrayList</a></li>
        <li><a href="/programming/recursive_data_structures_1.html">Recursive data structures - 1</a></li>
        <li><a href="/programming/recursive_data_structures_2.html">Recursive data structures - 2</a></li>
        <li><a href="/programming/searching.html">Searching</a></li>
    </ol>
</details>
<details><summary>Mathematics for Programmers</summary><ol>
        <li>Logic and Proofs</li>
        <li>Relations</li>
        <li>Mathematical Functions</li>
        <li>Matrices</li>
        <li>Binary Numbers</li>
        <li>Trigonomtry</li>
        <li>Finite State Machines</li>
        <li>Turing Machines</li>
        <li>Counting - Inclusion/Exclusion</li>
        <li>Graph Algorithms</li>
    </ol>
</details>
<details>
    <summary>Data Structures and Algorithms</summary>
    <ol>
        <li>Algorithm Efficiency</li>
        <li>Algorithm Correctness</li>
        <li>Trees</li>
        <li>Heaps, Stack, and Queues</li>
        <li>Maps and Hashtables</li>
        <li>Graphs and Graph Algorithms</li>
        <li>Advanced Trees and Computability</li>
    </ol>
</details>
<details>
    <summary>Systems Programming</summary>
      <ol>
        <li>Command line control</li>
        <li>Transition to C</li>
        <li>Pointers</li>
        <li>Memory Allocation</li>
        <li>IO</li>
        <li>Number representations</li>
        <li>Assembly Programming</li>
        <li>Structs and Unions</li>
        <li>How memory works</li>
        <li>Virtual Memory</li>
      </ol></details>
<details {% if page.within == "practice_of_programming" %}open{% endif %}><summary>The Practice of Programming</summary><ol>
        <li><a href="/practice_of_programming/version_control.html">Version Control with Git</a></li>
        <li><a href="/practice_of_programming/inheritance_and_overloading.html">Inheritance and Overloading</a></li>
        <li>Generics</li>
        <li>Exceptions</li>
        <li>Lambda Expressions</li>
        <li>Design Patterns</li>
        <li><a href="/practice_of_programming/concurrency_concepts.html">Concepts of Concurrency</a></li>
        <li><a href="/practice_of_programming/concurrency_objectlocks.html">Concurrency: Object Locks</a></li>
        <li><a href="/practice_of_programming/concurrency_modern.html">Modern Concurrency</a></li>
</ol></details>
<details><summary>Distributed Systems</summary><ol>
        <li>System Models</li>
        <li>Naming and Distributed File Systems</li>
        <li>Synchronisation and Concurrency</li>
        <li>Fault Tolerance and Security</li>
        <li>Clusters and Grids</li>
        <li>Virtualisation</li>
        <li>Data Centers</li>
        <li>Mobile Computing</li>
</ol></details>
<details><summary>Programming Languages</summary><ol>
            <li>Transition to Scala</li>
            <li>Functional Programming</li>
            <li>Syntax Analysis</li>
            <li>Name Analysis</li>
            <li>Type Analysis</li>
            <li>Transformation and Compilation</li>
            <li>Control Abstraction</li>
            <li>Implementing Data Abstraction</li>
            <li>Language Runtimes</li>
</ol></details>
<details {% if page.within == "provably_correct" %}open{% endif %}><summary>Provably Correct Programs</summary><ol>
        <li><a href="/provably_correct/basics.html">Transition to Coq</a></li>
        <li><a href="/provably_correct/induction.html">Proof by Induction, Structured Data</a></li>
        <li><a href="/provably_correct/poly.html">Polymorphism and Higher-Order Functions</a></li>
        <li><a href="/provably_correct/tactics.html">More Basic Tactics</a></li>
        <li><a href="/provably_correct/logic.html">Logical Reasoning in Proof Assistants</a></li>
        <li><a href="/provably_correct/ind_prop.html">Inductive Propositions</a></li>
        <li><a href="/provably_correct/maps.html">Maps</a></li>
        <li><a href="/provably_correct/imp.html">An Imperative Programming Language</a></li>
        <li><a href="/provably_correct/equiv.html">Program Equivalence</a></li>
        <li><a href="/provably_correct/hoare.html">Hoare Logic</a></li>
        <li><a href="/provably_correct/small_step.html">Small-Step Operational Semantics</a></li>
        <li><a href="/provably_correct/lambda.html">Simply-typed Lambda Calculus</a></li>
</ol></details>
